# Ignore files that don't need to be in the Docker image
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
venv
.venv
.env
.git
*.md
*.log
*.sqlite
*.db
*.csv
*.xlsx
*.json
!pyproject.toml
!Dockerfile
!requirements.txt
